<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<title></title>
<style type="text/css">
* {
  overflow:visible !important;
  font-family: Arial, Helvetica, sans-serif;
} 
body { 
  zoom:0.75;
}
.pagebreak {
  display: block;
  page-break-before: always;
}
</style>
</head>
<body>
<div style="border:1px solid black;padding:4px;margin-bottom:20px;"><%-data.cms_agreement[0].TXT_VAL%></div>
<div style="font-size:18px;line-height:24px;">
  <b>E-Sign Date:</b> <%=moment().format('MM/DD/YYYY')%><br/>
  <b>Signed By:</b> <%=params.A_Name%><br/>
  <b>Date of Birth:</b> <%=moment.utc(new Date(params.A_DOB)).format('MM/DD/YYYY')%>
</div>
</body>
</html>