<style type="text/css">
#agreement_text{
  text-align:justify;
  font-size:11px;
  line-height:15px; 
  width:1100px;
  height:500px;
  padding:2px;
  overflow:scroll;
  border:1px solid black;
}
@media print {
  #agreement_text {
    height:auto;
    overflow:visible;
    width:auto;
  }
}
</style>

<div class="xactions top">
  <a href="#" onclick="window.print(); return false;"><img src="/images/icon_print.png" alt="Print" title="Print" />Print</a>
</div>

<div id="step1"><!-- step1 container -->
<script type="text/javascript" src="/js/agreement.form.js"></script>
<div id="agreement_text">
<%-cms_agreement%>
</div>

<table style="padding-left:9px;margin-top:20px;" cellpadding="2">
  <tr><td colspan="2" style="padding-bottom:10px;"><input type="checkbox" name="A_Accept" id="A_Accept"> <label for="A_Accept">(E-signature) I accept the terms of this agreement, and verify that the information below is correct.</labe> </td></tr>
  <tr><td style="width:200px;">Today's Date:</td><td><input type="text" name="A_Date" id="A_Date" style="width:100px;" maxlength="10" readonly="readonly" /></td></tr>
  <tr><td>Signed Name:</td><td><input type="text" name="A_Name" id="A_Name" style="width:230px;" maxlength="72" /></td></tr>
  <tr><td>Date of Birth:</td><td><input type="text" name="A_DOB" id="A_DOB" style="width:100px;" maxlength="10" /> (MM/DD/YYYY)</td></tr>
</table>

<a href="#"  onclick="step1_submit(); return false;" style="display:inline-block;background-color:#426cc2;color:#fff;padding:7px 25px;margin-top:15px;margin-left:220px;">Continue -></a>
<div class="clear" style="margin-top:20px;"></div>

</div><!-- step1 container -->