<div class="xbody xdialogbox suggest_feature" style="min-height:0px;"><div class="xbodyhead" style="max-width: 601px;">
  <h1 style="display:inline-block;" class="xform_title">Suggest a Feature</h1>
  <div class="xformcontainer">
    <div class="xform">
      <div style="padding:4px 0 13px 0;">How can we make <%=app_name%> even better?</div>
      <div class="xform_caption  xform_caption_textarea "></div>
      <textarea autocomplete="off" data-id="message_text" name="message_text" class="message_text xform_ctrl xform_ctrl_textarea default_focus" style="max-width: 100%; box-sizing: border-box;" ></textarea>
      <div style="text-align:center;">
          <input type="button" value="Send" class="button_ok" style="margin-right:15px;" />
          <input type="button" value="Cancel" class="button_cancel" />
      </div>
    </div><!-- xform -->
  </div><!-- xformcontainer -->
</div>