<div class="step1"><!-- step1 container -->
<%-cms_welcome%>

<br/><a href="<%-req.baseurl%>" style="display:inline-block;background-color:#426cc2;color:#fff;padding:7px 25px;margin-top:15px;margin-left:0px;">Continue -></a>
<div class="clear" style="margin-top:20px;"></div>

</div><!-- step1 container -->