/*
Copyright 2017 apHarmony

This file is part of jsHarmony.

jsHarmony is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

jsHarmony is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this package.  If not, see <http://www.gnu.org/licenses/>.
*/

/*
======================
HEADER AND TOP BUTTONS
======================
*/

<%-(rootcss||'body')%> {
}
<%-rootcss%> .xhead {
	width:100%;
  height:117px;
}
<%-rootcss%> .xbody.with_xhead {
  margin-top:117px;
}
<%-rootcss%> .xtoplinks{
  background-color:#31245d;
  padding-left:0px;
  position:absolute;
	top:0px;
	right:0px;
  z-index:5;
  white-space: nowrap;
}
<%-rootcss%> .xtoplinks:before {
  content: '';
  position:absolute;
  top:0;
  left:-18px;
  border-left:18px solid transparent; 
  border-top:23px solid #31245d; 
  width:0;
}
<%-rootcss%> .xtoplinks_body{
  background-image:url('<%-req.jshsite.publicurl%>images/toplinks.png');
  height:21px;
  color:#fff;
  font-size:12px;
  padding-left:12px;
	padding-top:2px;
	padding-right:15px;
  white-space: nowrap;
}
<%-rootcss%> .xtoplinks a{
	color:#fff;
	text-decoration:none;
}
<%-rootcss%> .xtoplinks a:hover{
	text-decoration:underline;
}
<%-rootcss%> .xtoplinks_corner{
	float:left;
	top:0px;
  left:-18px;
  position:absolute;
}
<%-rootcss%> .xbrand_link{
	display:block;
	border:0;
	text-decoration:none;
	position:absolute;
	top:13px;
	left:12px;
	width:86px;
	height:54px;
}
<%-rootcss%> .xlogo{
	position:absolute;
	top:0px;
	left:0px;
}
<%-rootcss%> .xlogoimg{
	position:absolute;
	left:0px;
  top:0px;
}
<%-rootcss%> a.xsublogo{
  display:block;
  position:absolute;
	top:0px;
	left:0px;
	border:0;
  white-space:nowrap;
  color:white;
  vertical-align:top;
  color:#fff;
  position:relative;
  top:57px;
  left:63px;
  font-size:12px;
  letter-spacing:1px;
}
<%-rootcss%> .xsubcaption {
  display:inline-block;
  position:relative;
  font-style:italic;
  top:-7px;
  padding-left:4px;
  font-size:11px;
}

/*
===============
CUSTOM CONTROLS
===============
*/

<%-rootcss%> .xbody_Help__model { margin-right:25px; }


/*
================
PRINT STYLESHEET
================
*/
@media print {
  <%-rootcss%> .xhead { height: 90px; }
  <%-rootcss%> .xtoplinks { display:none !important; }
}