<style type="text/css">
.xbody_DEV_DB {
  padding-left:0;
  width:100%;
}
.DEV_DB_container, .xform_title {
  padding-left:29px;
  padding-right:30px;
}
textarea.DEV_DB_sql {
  width:100%;
  min-width:800px;
  height:100px;
  white-space:nowrap;
  margin-right:0px;
  margin-left:0px;
  box-sizing:border-box;
  font-family:monospace;
}
.DEV_DB_rslt_container {
  border:1px solid black;
  min-width:800px;
  height:500px;
  overflow:scroll;
}
.DEV_DB_rslt {
  padding:10px 15px;
  margin-top:20px;
  font-family:monospace;
}
.DEV_DB_rslt table { border-collapse: collapse; }
.DEV_DB_rslt table td,.DEV_DB_rslt table th { padding:3px 10px; border:1px solid black; }
.DEV_DB_rslt table td .null { color:#999; font-style:italic; }
.DEV_DB_rslt table th { background-color:#f6f6f6; }
.DEV_DB_rslt h1 { font-family:monospace; font-size:18px; }
</style>
<div class="DEV_DB_container">
  <div class="DEV_DB_dbselect">
    Database:
    <select class="DEV_DB_db"></select>
  </div>
  <div class="DEV_DB_run" style="display:none;">
    <table width="100%">
      <tr>
        <td></td>
        <td align="right">
          Samples:
          <select class="DEV_DB_samples" style="margin-right:0px;"></select>
        </td>
      </tr>
    </table>
    <textarea class="DEV_DB_sql"></textarea><br/>
    <a href="#" class="DEV_DB_runas_toggle">Run as &gt;</a><br/>
    <div class="DEV_DB_runas" style="display:none;">
      <label>User:</label> <input type="text" class="DEV_DB_user" />
      <label>Password:</label> <input type="password" class="DEV_DB_password" />
      <label><input type="checkbox" class="DEV_DB_nocontext" /> No Context</label>
    </div>
    <input type="button" class="DEV_DB_runsql" value="Run SQL" /><br/>
    <div class="DEV_DB_rslt_container"><div class="DEV_DB_rslt"></div></div>
  </div>
</div>