<style type="text/css">
#DEV_DB_SCRIPTS_listing {
  border:1px solid #000;
  float:left;
  padding:10px 15px;
  margin:0 10px 10px 0;
  width:500px;
  height:500px;
  overflow:scroll;
}
#DEV_DB_SCRIPTS_listing li {
  padding-top:4px;
}
#DEV_DB_SCRIPTS_rslt {
  border:1px solid #000;
  float:left;
  padding:10px 15px;
  margin:0;
  width:500px;
  height:500px;
  overflow:scroll;
}
#DEV_DB_SCRIPTS_runas {
  clear:both;
  padding-top:10px;
}
#DEV_DB_SCRIPTS_runas label {
  display:inline-block;
  width:70px;
}
</style>
<div style="padding-bottom:8px;">Please click on a script below to run the database operation:</div>
<div id="DEV_DB_SCRIPTS_listing"></div>
<pre id="DEV_DB_SCRIPTS_rslt"></pre>
<div id="DEV_DB_SCRIPTS_runas">
<b>Run as:</b><br/>
<label>User:</label><input type="text" id="DEV_DB_SCRIPTS_user" /><br/>
<label>Password:</label><input type="password" id="DEV_DB_SCRIPTS_password" />
</div>