<div class="xtabcontrol">
  <a href="#" class="xtab" for="DEV_MODELS_viewer">Model Viewer</a>
  <a href="#" class="xtab" for="DEV_MODELS_namespace_conflicts">Namespace Conflicts</a>
  <div class="xpanel">
    <div class="xtabbody DEV_MODELS_viewer">
      <select class="modelid"></select>
      <pre class="rslt"></pre>
    </div>
    <div class="xtabbody DEV_MODELS_namespace_conflicts">
      <input type="button" class="run" value="View Conflicts" />
      <pre class="rslt"></pre>
    </div>
  </div>
</div>