<div id="DEV_DB_dbselect">
  Database:
  <select id="DEV_DB_db"></select>
</div>
<div id="DEV_DB_run" style="display:none;">
  <table width="800">
    <tr>
      <td>Use "select '-----TABLE-----' as table_boundary;" between recordsets for Postgres</td>
      <td align="right">
        Samples:
        <select id="DEV_DB_samples"></select>
      </td>
    </tr>
  </table>
  <textarea id="DEV_DB_sql" style="width:800px;height:100px;white-space:nowrap;"></textarea><br/>
  <a href="#" id="DEV_DB_runas_toggle">Run as &gt;</a><br/>
  <div id="DEV_DB_runas" style="display:none;">
    <label>User:</label> <input type="text" id="DEV_DB_user" />
    <label>Password:</label> <input type="password" id="DEV_DB_password" />
  </div>
  <input type="button" id="DEV_DB_runsql" value="Run SQL" /><br/>
  <pre id="DEV_DB_rslt" style="border:1px solid black;padding:10px 15px;margin-top:20px;width:800px;height:500px;overflow:scroll;"></pre>
</div>