<div class="DEV_DB_dbselect">
  Database:
  <select class="DEV_DB_db"></select>
</div>
<div class="DEV_DB_run" style="display:none;">
  <table width="800">
    <tr>
      <td>Use "select '-----TABLE-----' as table_boundary;" between recordsets for Postgres</td>
      <td align="right">
        Samples:
        <select class="DEV_DB_samples"></select>
      </td>
    </tr>
  </table>
  <textarea class="DEV_DB_sql" style="width:800px;height:100px;white-space:nowrap;"></textarea><br/>
  <a href="#" class="DEV_DB_runas_toggle">Run as &gt;</a><br/>
  <div class="DEV_DB_runas" style="display:none;">
    <label>User:</label> <input type="text" class="DEV_DB_user" />
    <label>Password:</label> <input type="password" class="DEV_DB_password" />
  </div>
  <input type="button" class="DEV_DB_runsql" value="Run SQL" /><br/>
  <div class="DEV_DB_rslt" style="border:1px solid black;padding:10px 15px;margin-top:20px;width:800px;height:500px;overflow:scroll;font-family:monospace;"></div>
</div>