<style type="text/css">
.DEV_DB_SCHEMA_rslt table { border-collapse: collapse; }
.DEV_DB_SCHEMA_rslt table td,.DEV_DB_SCHEMA_rslt table th { padding:3px 10px; border:1px solid black; }
.DEV_DB_SCHEMA_rslt table th { background-color:#f6f6f6; }
.DEV_DB_SCHEMA_rslt h2 { margin-top:20px; }
.DEV_DB_SCHEMA_rslt .table_name,.DEV_DB_SCHEMA_rslt .func_name { font-weight:bold; display:inline-block;margin-top:3px; }
</style>
<div class="DEV_DB_SCHEMA_dbselect">
  Database:
  <select class="DEV_DB_SCHEMA_db"></select>
</div>
<div class="DEV_DB_SCHEMA_rslt">
</div>