<div class="xtabcontrol">
  <a href="#" class="xtab" for="viewer">Model Viewer</a>
  <a href="#" class="xtab" for="namespace_conflicts">Namespace Conflicts</a>
  <a href="#" class="xtab" for="utilities">Utilities</a>
  <div class="xpanel">
    <div class="xtabbody viewer">
      <select autocomplete="off" class="modelid"></select>
      <pre class="rslt"></pre>
    </div>
    <div class="xtabbody namespace_conflicts">
      <input type="button" class="run" value="View Conflicts" />
      <pre class="rslt"></pre>
    </div>
    <div class="xtabbody utilities">
      <input type="button" class="auto_controls" value="Auto-controls" /><br/>
      <input type="button" class="model_listing" value="Model Listing" />
      <pre class="rslt"></pre>
    </div>
  </div>
</div>