<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<title></title>
<script type="text/javascript" src="file:///<%=jsh.Config.datadir%>../node_modules/jsharmony/public/js/jsHarmony.js"></script>
<link href='file:///<%=jsh.Config.moduledir%>/public/fonts/jsHarmonyFonts.css' rel='stylesheet' type='text/css' />
<style type="text/css">
* {
  overflow:visible !important;
  font-family: 'Roboto'; /*, arial, helvetica, sans-serif;*/
}
body { 
  width:950px;
}
.pagebreak {
  display: block;
  page-break-before: always;
}
</style>
</head>
<body>
<!-- <pre><%=JSON.stringify(data,null,4)%></pre> -->
<table width="100%">
<tr>
<td colspan=5>
<div class="report_header">
  <br/>User Status:&nbsp; <%=data.params[0].sys_user_sts_txt%> <br />
</div>
</td>
</tr>
  <tr>
    <td colspan=5><hr width="100%" /></td>
  </tr>
  <tr style="font-weight:bold;">
    <td>Last Name</td>
    <td>First Name</td>
    <td>Status</td>
    <td>Phone</td>
    <td>Email</td>
  </tr>
  <tr>
    <td colspan=5><hr width="100%" /></td>
  </tr>
<!-- For Each user Record -->
<% _.each(data.users,function(user,i){ %>
  <tr>
    <td>{{user.sys_user_lname||''}}</td>
    <td>{{user.sys_user_fname||''}}</td>
    <td>{{user.sys_user_sts||''}}</td>
    <td>{{ejsext.phone_format(user.sys_user_bphone)||''}}</td>
    <td>{{user.sys_user_email||''}}</td>
  </tr>
  <tr>
    <td colspan=5><hr width="100%" /></td>
  </tr>

<% }); %><!-- End C Loop -->
</table>  
Number of records:  {{data.users.length}}
</body>
</html>